.toolbar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;
  }

  .nav {
    display: flex;
    align-items: center;
    margin-right: 10px;

    > a {
      color: #fff;
    }
  }
}
