<div class="section">
  <div class="section-header">
    <h2>Investigation</h2>
  </div>
  <hr>
  <div class="section-content">
    <div class="card-container">
      <app-inv-card
              *ngFor="let incident of (incidentsList$ | async)"
              [incident]="incident"></app-inv-card>
    </div>
  </div>
</div>
