<div class="graph" xmlns:svg="">
    <div class="graph-settings" xmlns:svg="http://java.sun.com/JSP/Page"
         xmlns:svg="http://www.w3.org/1999/XSL/Transform"
         xmlns:svg="http://java.sun.com/JSP/Page">
        <div class="creation-form">
            <h4>Create Form</h4>
            <div class="form-group">
                <input type="text" placeholder="artifact name" [(ngModel)]="nodeName">
                <button (click)="addNode(nodeName)">add artifact</button>
            </div>
            <hr>
            <div class="form-group">
                <input type="text" placeholder="group name" [(ngModel)]="clusterName">
                <select multiple [(ngModel)]="clusterNodes">
                    <option *ngFor="let node of nodes" value="{{node.id}}">{{node.label}}</option>
                </select>
                <button (click)="addCluster(clusterName, clusterNodes)">add group</button>
            </div>
            <hr>
            <div class="form-group">
                <input type="text" placeholder="link label" #linkLabel>
                <select [(ngModel)]="linkSource">
                    <option *ngFor="let node of nodes" value="{{node.id}}">{{node.label}}</option>
                </select>
                <select [(ngModel)]="linkTarget">
                    <option *ngFor="let node of nodes" value="{{node.id}}">{{node.label}}</option>
                </select>
                <button (click)="addLink(linkSource, linkTarget, linkLabel.value)">add link</button>
            </div>
        </div>
        <div class="selected-nodes">
            <h4>Selection</h4>
            <div class="form-group" *ngIf="selectedNode">
                <hr>
                node id: {{ selectedNode.id }}<br/>
                node name: {{ selectedNode.label }}<br/>
                <button (click)="deleteNode(selectedNode.id)">delete node</button>
            </div>
            <div class="form-group" *ngIf="selectedGroup">
                <hr>
                group id: {{ selectedGroup.id }}<br/>
                group name: {{ selectedGroup.label }}<br/>
                <button (click)="deleteCluster(selectedGroup.id)">delete cluster</button>
            </div>
            <div class="form-group" *ngIf="selectedLink">
                <hr>
                link id: {{ selectedLink.id}}<br/>
                link label: {{ selectedLink.label }}<br/>
                <button (click)="deleteLink(selectedLink.id)">delete link</button>
            </div>
        </div>
    </div>
    <hr>
    <div class="graph-block">
        <div class="graph-actions">
            <div class="form-group actions">
                <button (click)="centerGraph()">Center</button>
                <button (click)="fitGraph()">Fit</button>
                <button (click)="zoomToggle()">Zoom {{ isZoomEnabled ? 'off' : 'on' }}</button>
            </div>
        </div>
        <div class="chart-container">
            <ngx-graph
                    [view]="[1200, 550]"
                    [showMiniMap]="true"
                    [links]="links"
                    [nodes]="nodes"
                    [clusters]="clusters"
                    [autoCenter]="true"
                    [enableZoom]="isZoomEnabled"
                    [center$]="center$"
                    [zoomToFit$]="zoomToFit$"
                    [layoutSettings]="layoutSettings"
                    layout="dagreCluster"
            >
                <ng-template #defsTemplate>
                    <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4"
                                orient="auto">
                        <svg:path d="M0,-5L10,0L0,5" class="arrow-head"/>
                    </svg:marker>
                </ng-template>

                <ng-template #clusterTemplate let-cluster>
                    <svg:g class="node cluster {{ cluster | isSelected: selectedGroup }}"
                           (click)="onClusterClick(cluster)">
                        <svg:rect
                                [attr.width]="cluster.dimension.width"
                                [attr.height]="cluster.dimension.height"
                                [attr.fill]="cluster.data.color"
                        />
                        <svg:text
                                alignment-baseline="central"
                                class="cluster-label"
                                [attr.x]="10"
                                [attr.y]="cluster.dimension.height - 110">
                            {{cluster.label}}
                        </svg:text>
                    </svg:g>
                </ng-template>

                <ng-template #nodeTemplate let-node>
                    <svg:g
                            class="node artifact {{ node | isSelected: selectedNode }}"
                            ngx-tooltip
                            (click)="onNodeClick(node)"
                            [tooltipPlacement]="'top'"
                            [tooltipType]="'tooltip'"
                            [tooltipTitle]="node.label"
                    >
                        <svg:rect
                                [attr.width]="node.dimension.width"
                                [attr.height]="node.dimension.height"
                                [attr.fill]="node.data.color"
                        />
                        <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
                            {{node.label}}
                        </svg:text>
                    </svg:g>
                </ng-template>

                <ng-template #linkTemplate let-link>
                    <svg:g class="edge {{ link | isSelected: selectedLink }}" (click)="onLinkClick(link)">
                        <svg:path class="line" stroke-width="3" marker-end="url(#arrow)"></svg:path>
                        <svg:text class="edge-label" text-anchor="middle">
                            <textPath
                                    class="text-path"
                                    [attr.href]="'#' + link.id"
                                    [style.dominant-baseline]="link.dominantBaseline"
                                    startOffset="50%"
                            >
                                {{link.label}}
                            </textPath>
                        </svg:text>
                    </svg:g>
                </ng-template>
            </ngx-graph>
        </div>
    </div>

</div>
