.ngx-charts-outer {
  margin: 0 auto;
}

.node.selected {
  outline: 2px solid black;
}

.edge.selected {
  stroke: red;
}

.graph-settings {
  display: flex;
  flex-flow: row wrap;

  > div {
    padding: 30px;
    border-radius: 3px;
  }

  .creation-form {
    background: #d2d2d2;
    margin-right: 50px;
  }

  .selected-nodes {
    background: #d0e6ff;
    min-width: 250px;
  }

}

.graph-block {
  display: flex;
  flex-flow: column wrap;
}

.form-group.actions {
  margin-top: 20px;
  margin-bottom: 20px;

  button {
    margin-right: 10px;
  }
}

.form-group {
  input {
    margin-right: 10px;
  }
}

.node {
  &.cluster {
    cursor: pointer;
  }

  &.artifact {
    cursor: pointer;
  }
}

.edge {
  .line {
    cursor: pointer;
  }
}

.cluster-label {
  cursor: pointer;
}
select {
  width: 100px;
  margin-right: 10px;
}

.chart-container {
  display: flex;
  justify-content: center;
}
